@font-face {
    font-family: 'segoeUI';
    font-family: 'segoeUI';
    src: local('segoeUI'),
         url('../fonts/segoe/Segoe-UI.eot'),
         url('../fonts/segoe/Segoe-UI.eot#iefix') format('embedded-opentype'),
         url('../fonts/segoe/Segoe-UI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}