/* Responsive */
$Asmall: 575.98px;
$small: 576px;
$Atablet: 767.98px;
$tablet: 767.98px;
$Alaptop: 991.98px;
$laptop: 992px;
$Adesktop: 1199.98px;
$desktop: 1200px;
$Afull: 1919.98px;
$full: 1920px;

/* maxwidth */
$mWtablet: 540px;
$mWlaptop: 720px;
$mWdesktop: 960px;
$mWfull: 1140px;

/* Colores */
$color-cliente: #000000;
$color-cliente-dos: #e1061b;
$grisOscuro: #666674;
$color-btn-disabled: #C2C2C2;

